:root {
  --primary: #41427f;
  --primary-accent: #eeeeee;

  --secondary: #4e5287;

  --text: #eeeeee;
  --text-opposite: #212121;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: var(--primary);
  color: var(--primary-accent);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
